:root {
  --primary-color: #272727;
  --primary-color-darken: #1f1f1f;
  --color-black: rgb(0, 0, 0);
  --color-gray: rgb(76, 76, 76);
  --color-border-light: rgb(212, 212, 212);
  --color-white: #fff;
  --color-white-darken: #faf8f8;
  --border-radius: 4px;
}
main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  min-height: 100vh;
}

/* SIGN UP SECTION */

.signUpSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 56px 0px;
}
.signUpWrapper {
  margin: 0 auto;
  width: 500px;
}

.signUpLogo {
  width: 80px;
}

.signUpSection h1 {
  color: var(--color-black);
  line-height: 1;
  font-size: 2.5rem;
  margin-bottom: 12px;
}
.infoSignUp {
  color: var(--color-gray);
  display: block;
  margin-bottom: 36px;
}
.googleLogin {
  width: 100%;
  padding: 12px 36px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border: 1px solid var(--color-border-light);
  border-radius: var(--border-radius);
  margin-bottom: 8px;
  transition: 0.2s all;
}
.googleLogin:hover {
  cursor: pointer;
  background-color: var(--color-white-darken);
}
.googleLogin > img {
  width: 24px;
}
.formSeparator {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 18px;
  margin-top: 18px;
}
.formSeparator > hr {
  width: 50%;
  border: 0.5px solid var(--color-border-light);
}
fieldset {
  border: none;
}
fieldset label {
  font-weight: 600;
}
.dualInputs {
  display: flex;
  gap: 12px;
}
.dualInputs > section {
  width: 100%;
}
.fieldSet {
  width: 100%;
  margin-top: 4px;
  display: flex;
  height: 50px;
  align-items: center;
  border: 1px solid var(--color-border-light);
  border-radius: var(--border-radius);
  padding: 12px;
  margin-bottom: 24px;
}
input {
  margin-left: 12px;
  width: 100%;
  border: none;
}

.feather {
  color: var(--color-border-light);
}
input:focus {
  outline: none;
}
.passwordInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.passwordInput .signUpLogo {
  width: 80px;
}
#seePassword {
  background-color: transparent;
  border: none;
}
#seePassword:hover {
  cursor: pointer;
}

#rememberPasswordSection {
  display: flex;
  width: auto;
  margin-left: 0;
  margin-bottom: 24px;
  align-items: center;
}

#rememberPasswordSection label {
  font-weight: normal;
  margin-left: 8px;
}
#rememberPasswordSection input {
  margin: 0;
  height: 25px;
  width: 25px;
}

#submitBtn {
  color: var(--color-white);
  font-weight: bold;
  width: 100%;
  padding: 12px 36px;
  background-color: var(--primary-color);
  border: none;
  border-radius: var(--border-radius);
  margin-bottom: 12px;
  transition: 0.2s all;
}
#submitBtn:hover {
  cursor: pointer;
  background-color: var(--primary-color-darken);
}
.helperSection {
  color: var(--color-gray);
}
.helperSection > a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  transition: 5s all;
}
.helperSection > a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

/* INFO SECTION */

.infoSection {
  width: 50%;
  display: flex;
}
.infoSection > div {
  align-items: stretch;
  width: 100%;
  display: flex;
  background-image: url(../img/banner.jpg);
  background-position: center;
}
